/* https://css-tricks.com/perfect-full-page-background-image/#awesome-easy-progressive-css3-way) */

* {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  margin: 0em;
  padding: 0em;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  text-shadow: 0px 0px 2px black, 0px 0px 15px #aaaaaa;

}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.crypto-weather-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

.crypto {
  font-size: 1.3rem;
}

.crypto-img-name {
  display: flex;
  align-items: center;
  gap: .5em;
}

.crypto-name {
  letter-spacing: 1px;
}

.crypto-data {
  margin: 0.05em;
  font-size: 1rem;
}

.amount {
  font-weight: 600;
  font-size: 1.25rem;
}

.current-amount {
  color: rgb(28, 28, 28);
  text-shadow: 0px 0px 15px #aaaaaa;
}

.high-amount {
  color: lawngreen;
}

.low-amount {
  color: orangered;
  border: none;
}

.time-container {
  text-align: center;
}

.photo-author {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0em;
  padding-left: 1.5em;
  padding-bottom: 1.5em;
}